* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
  height: 100vh;
  background-image: url("/img/fundo-03.jpg");
}

header {
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 82px;
  color: black;
  border: 5px solid black;
}
header img {
  position: relative;
  margin-top: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main form {
  background-color: blue;
  height: 18vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main form fieldset {
  border: none;
}
main form .entradas {
  width: 90%;
  background-color: pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main form .entradas input {
  height: 25px;
}
main form #error {
  visibility: hidden;
  width: 90%;
  height: 20px;
  color: #ff0000;
  font-size: 14px;
  background-color: black;
  padding-top: 2px;
}
main form .botoes {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
main form .botoes button {
  height: 30px;
  width: 150px;
}

.list {
  background-color: cadetblue;
  width: 50vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 2px 1px black, -5px 2px 1px black, 0px 5px 1px black, -5px 5px 1px red, 5px 5px 1px #f700ff;
}

.product-add {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}
.product-add thead {
  background-color: #0e88ec;
}
.product-add thead th {
  border: 1px solid black;
  height: 40px;
}
.product-add thead th:first-child {
  background-color: blueviolet;
  border-left: none;
  width: 5%;
}
.product-add thead th:nth-child(2) {
  background-color: red;
  width: 50%;
}
.product-add thead th:nth-child(3) {
  background-color: green;
  width: 25%;
}
.product-add thead th:nth-child(4) {
  background-color: #f700ff;
  width: 10%;
}
.product-add thead th:last-child {
  background-color: red;
  border-right: none;
  width: 10%;
}
.product-add tbody tr {
  height: 25px;
}
.product-add tbody td {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}
.product-add tbody td:first-child {
  border-left: none;
}
.product-add tbody td:last-child {
  border-right: none;
}
.product-add tbody input {
  all: unset;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.product-add tbody input:hover {
  background-color: red;
}

#lista-vazia {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 1.54vw;
  color: #ff0000;
  background-color: blue;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}

.product-deleted {
  width: 100%;
  border-collapse: collapse;
}
.product-deleted tbody tr {
  height: 25px;
  border-top: none;
}
.product-deleted tbody tr:first-child {
  height: 25px;
  border-top: 2px solid black;
}
.product-deleted tbody td {
  border: 1px solid black;
  text-align: center;
  background-color: #7c5c32;
}
.product-deleted tbody td:first-child {
  border-left: none;
  width: 5%;
}
.product-deleted tbody td:nth-child(2) {
  width: 50%;
  text-decoration: line-through red 2px;
  color: #8f8f8f;
}
.product-deleted tbody td:nth-child(3) {
  width: 25%;
  text-decoration: line-through red 2px;
  color: #8f8f8f;
}
.product-deleted tbody td:nth-child(4) {
  width: 10%;
}
.product-deleted tbody td:last-child {
  width: 10%;
  border-right: none;
  width: 10%;
}
.product-deleted tbody input {
  all: unset;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: white;
}
.product-deleted tbody input:checked {
  background-color: blue;
}

/*# sourceMappingURL=style.css.map */
