@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url("../../fonts/Gotham/GothamPro-Medium.ttf");
}
@font-face {
  font-family: "Cinematografica";
  src: url("../../fonts/cinematografica/Cinematografica-Extrabold-trial.ttf");
}
body {
  height: 100vh;
  background-image: url("/img/fundo-03.jpg");
}

header {
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
}
header h1 {
  font-family: "Cinematografica";
  font-size: 10.248vw;
  font-weight: lighter;
  color: black;
  text-shadow: -2px 2px #0d70f1;
  letter-spacing: 4px;
}
header #carrinho {
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 72vh;
  padding-bottom: 5vh;
}
main form {
  background-color: #dadada;
  height: 20vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 2px 10px #0f0f0f8a, 0px -5px 10px #0f0f0f8a, -5px 2px 10px #0f0f0f8a, 5px -5px 10px #0f0f0f8a, -5px -5px 10px #0f0f0f8a;
}
main form fieldset {
  border: none;
}
main form .entradas {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
main form .entradas #campo-product {
  display: flex;
  flex-direction: column;
}
main form .entradas #campo-quantity {
  display: flex;
  flex-direction: column;
}
main form .entradas label {
  font-family: "Gotham";
  padding-bottom: 2px;
}
main form .entradas input {
  height: 25px;
  width: 200px;
}
main form .entradas #error {
  display: inline-block;
  align-items: flex-start;
  justify-content: flex-start;
  visibility: hidden;
  height: 12px;
  font-family: "Gotham";
  color: #ff0000;
  font-size: 12px;
  padding-top: 2px;
}
main form .botoes {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
main form .botoes button {
  font-family: "Gotham";
  text-transform: uppercase;
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 20px;
}
main form #btn-enviar {
  background-color: #0d70f1;
  box-shadow: 0 4px 0 #422626;
  color: #ffffff;
}
main form #btn-enviar:hover {
  background-color: #0d70f1;
  color: #ffffff;
  box-shadow: 0 4px 0 #125dc0;
}
main form #delete-list {
  background-color: #ff0808;
  box-shadow: 0 4px 0 #422626;
  color: #ffffff;
}
main form #delete-list:hover {
  background-color: #ff0808;
  color: #000000;
  box-shadow: 0 5px 0 #ff6464;
}
main form #btn-enviar:active, main form #delete-list:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}
main form :focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.list {
  background-color: #DADADA;
  width: 50vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 0px 10px #0f0f0f8a, -5px 0px 10px #0f0f0f8a, 0px 5px 10px #0f0f0f8a, -5px 5px 10px #0f0f0f8a, 5px 5px 10px #0f0f0f8a;
  font-size: 18px;
  padding-bottom: 5vh;
}

.product-add thead th, .product-deleted thead th {
  border: 1px solid black;
  height: 40px;
}
.product-add thead th:first-child, .product-deleted thead th:first-child {
  border-left: none;
  width: 5%;
}
.product-add thead th:nth-child(2), .product-deleted thead th:nth-child(2) {
  width: 40%;
}
.product-add thead th:nth-child(3), .product-deleted thead th:nth-child(3) {
  width: 25%;
}
.product-add thead th:nth-child(4), .product-deleted thead th:nth-child(4) {
  width: 15%;
}
.product-add thead th:last-child, .product-deleted thead th:last-child {
  border-right: none;
  width: 15%;
}
.product-add tbody tr, .product-deleted tbody tr {
  height: 25px;
  border-top: none;
}
.product-add tbody td:first-child, .product-deleted tbody td:first-child {
  border-left: none;
}
.product-add tbody td:last-child, .product-deleted tbody td:last-child {
  border-right: none;
}

.product-add {
  width: 100%;
  border-collapse: collapse;
}
.product-add thead {
  background-color: #4D321A;
  color: #ffffff;
}
.product-add tbody td {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}
.product-add tbody input {
  all: unset;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.product-add tbody input:hover {
  background-color: #22cc1c;
}

#lista-vazia {
  font-family: "Cinematografica";
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 4vw;
  color: #ff0000;
  background-color: #DADADA;
  border-top: 2px solid black;
}

.product-deleted {
  width: 100%;
  border-collapse: collapse;
}
.product-deleted tbody tr:first-child {
  border-top: 4px solid black;
}
.product-deleted tbody td {
  border: 1px solid black;
  text-align: center;
  background-color: #C95614;
}
.product-deleted tbody td:nth-child(2) {
  width: 40%;
  text-decoration: line-through red 2px;
}
.product-deleted tbody td:nth-child(3) {
  width: 25%;
  text-decoration: line-through red 2px;
}
.product-deleted tbody td:nth-child(4) {
  width: 15%;
}
.product-deleted tbody td:last-child {
  width: 15%;
  border-right: none;
}
.product-deleted tbody input {
  all: unset;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: white;
}
.product-deleted tbody input:checked {
  background-color: red;
}

.btn-editar {
  font-family: "Gotham";
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1px;
  width: 90%;
  height: 18px;
  border-radius: 20px;
  background-color: #008a00;
}
.btn-editar:hover {
  background-color: #ffe600;
  color: #000000;
  border: 2px solid #7a7a7a;
}
.btn-editar:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.btn-deletar {
  font-family: "Gotham";
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1px;
  width: 90%;
  height: 18px;
  border-radius: 20px;
  background-color: #ff0000;
}
.btn-deletar:hover {
  background-color: #ff0000;
  color: #000000;
  border: 2px solid #7a7a7a;
}
.btn-deletar:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

#abrirModal {
  display: none;
}

.tela-inteira {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  /* Para dar opacidade somente na tela inteira e não nos demais elementos*/
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tela-inteira .caixa-modal {
  width: 50vw;
  height: 65vh;
  border-radius: 40px;
  background-color: #4D321A;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: 8vh;
}
.tela-inteira .header-modal {
  height: 5vh;
  width: 100%;
  display: flex;
}
.tela-inteira .div-fechar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.tela-inteira .div-fechar img {
  cursor: pointer;
  position: relative;
  right: 35px;
  top: 15px;
  z-index: 10;
}
.tela-inteira .titulo-modal {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F2F2F2;
  font-family: "Gotham";
  font-size: 52px;
}
.tela-inteira #form-modal {
  width: 100%;
  height: 30vh;
  background-color: red;
}
.tela-inteira form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
